.headermain {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 70px; /* You can adjust the height as needed */
  background-color: rgb(40, 40, 40);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.header {
  font-size: larger;
  text-align: center;
  color: white;
  
}
 .header h1{
  font-weight: 100; 
  
 }